<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SignUp</title>
</head>

<body>

{{#errorMessage}}
	<div>{{ errorMessage }}</div>
{{/errorMessage}}


	  <h1>SignUp</h1> 
  	  
  	  <form method="post"  action="/signup">
  	  	  <input type ="text" name="username"  required>
  	  	  <br>
	  	  <input type ="password" name="password"  required>
	  	  <br>
	  	  <input type="hidden" name="{{ _csrf.parameterName }}"   value="{{ _csrf.token }}">
	  	  <br>
	  	  <button>Sign Up</button>
  	  </form>
  	   	  	  
</body>
</html>